@import "tailwindcss";
/* @tailwind utilities; */

/* Custom CSS Variables */
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 15, 28;
  --background-end-rgb: 10, 15, 28;
}

/* Global Styles */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom right, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb))) fixed;
}
